* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* styles for task 1 */
#categories {
  max-width: 392px;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.item {
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f6f6fe;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  max-width: 392px;
}

.item h2 {
  font-weight: bold;
  font-size: 18px;
  color: #2e2f42;
  margin: 0;
  padding-bottom: 16px;
}

.item ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.item li {
  padding: 8px 16px;
  font-size: 16px;
  color: #2e2f42;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* styles for task 2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1128px;
  align-content: center;
}

img {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.gallery li {
  flex: calc((100% - 48px) / 3);
  display: flex;
  justify-content: center;
}

/* styles for task 3 */

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
}

#name-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
}

h1 {
  margin: 0;
  padding: 0;
  color: #2e2f42;
}

/* styles for task 4 */

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  margin: 0 auto;
  row-gap: 8px;
}

.login-form label {
  width: 360px;
  text-align: left;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.login-form button {
  align-self: flex-start;
  display: block;
  width: 86px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
}

/* styles for task 5 */

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-color {
  display: block;
  width: 148px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 16px;
}
